footer {
    background-color: #1D132B;
    color: #fff;
    display: flex;
    padding: 1.5rem;
justify-content: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

footer a:hover {
    text-decoration: underline;
    color: #fff;
}

@media (max-width: 800px){
    footer {
        display: inline-block;
        text-align: center;
    }

    footer span {
        display:none;
    }
    
    footer a {
        text-decoration: underline;
    }
}